<!-- <div id='image'>
    <img src='/assets/white.jpg'>
</div>
 -->

 <div id='home'>
  <h1 id='welcome-title' align='center'>Welcome to Record Keeper!</h1>
  <h3 id='signupLink'>
    <%= link_to(image_tag('discogs.png', id:'loginButton')) %>
  </h3>
 </div>
