# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 315570b9184ad28c917ee1c8fe21d14ebc6f28bd97686251b00ff11a2a0421af13a9ced37ea831340489edec48cd6d07e9a6b92d6a8214b913cf38e0e6c59b1e
  twitter_api_key: bRA4Z1aScBpCUZux65whX6HTU
  twitter_api_secret: L1vk6sCpJDNow8Jj9vtEXEPDw5IBqTv2qscbH0fdaF36U12azO

test:
  secret_key_base: 4d79a6d4bf6b7bebc051dcdafc046a7a7012f0240c98215a19d9531ff5db746f2c7d1d854822273bc7c9429609eae7d95227294ee60d43968939db27ea5f72df

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
